html {
    height: 100vh;
}

body {
    height: inherit;
    color: #666666 !important;
}

.navbar-collapse.show, .navbar-collapse.collapsing {
    background-color: #333333 !important;
    border-radius: 10px;
}

.navbar-collapse.collapsing .nav-link,
.navbar-collapse.show .nav-link
{
    color: #EEEEEE !important;
    padding: 18px;
}

.navbar-collapse.collapsing .nav-link:hover,
.navbar-collapse.show .nav-link:hover {
    color: #FFFFFF !important;
}

.nav-link, .text-white {
    color: #eeeeee !important;
}

.nav-link:hover {
    color: #ffffff !important;
}

.border-white {
    border-color: rgba(255, 255, 255, 0.4) !important;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #000000;
}

a, .btn {
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.my-4rem {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#gallery img {
    width: 100%;
    height: 35vh;
}

.card, .btn, .card-footer, .card-header {
    border-radius: 0 !important;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #ffffff;
}

.question {
    width: 20px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.question:after {
    content: '?';
    height: 100%;
    line-height: 1.4;
    font-weight: bold;
    margin-left: 1px;
}

.copy-right {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-right:after {
    content: 'C';
    height: 100%;
    line-height: 1.4;
    font-weight: bold;
    margin-right: 2px;
}

.pointer {
    cursor: pointer;
}

.bg-danger {
    color: #ffffff;
}

.btn {
    border: 2px solid;
}


.bg-dark {
    background-color: #000000 !important;
}

.text-dark {
    color: #000000 !important;
}

.bg-danger, .btn-danger {
    background-color: #9b2e3a !important;
}

.btn-outline-danger {
    color: #ffffff;
}

.border-danger, .btn-danger, .btn-outline-danger {
    border-color: #9b2e3a !important;
}

.text-danger {
    color: #9b2e3a !important;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active,
.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active {
    background-color: #b92f3b !important;
}

.bg-transparent {
    background-color: rgba(0,0,0,0)
}

.z-1 {
    z-index: 1;
}

.mh-100vh {
    min-height: 100vh !important;
}

.h-50vh {
    height: 50vh!important;
}

.bg-100 {
    background-size: 100% 100%;
}

.w-15 {
    width: 25% !important;
    border-radius: 5px;
}

.w-15 img {
    border-radius: 5px;
}

@media (max-width: 768px) {
    .background {
        min-height: auto !important;
        background-position: center;
        background-size: auto 100%;
        background-repeat-y: no-repeat;
    }

    div.card-body {
        display: block !important;
    }


    .slider-text {
        margin-top: 9rem;
    }
}

.phones span {
    color: #EEEEEE;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}